.home{
    background-color: #1ABC9C;
    min-height:100vh;
}

.imgs{
    width: 250px;
}
.home .content{
    width: fit-content;
    margin: auto;
}
.home .content svg{
    z-index: 3;
}
.home h1{
    font-size: 4rem!important;
    /* line-height: 3.5rem;     */
}
